@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

/* base styles */
body {
  margin: 0;
  padding: 0;

  background-color: #181818;
  color: white;
  font-family: 'Work Sans', sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

button {
  font-family: 'Work Sans', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  outline: none;
  border: none;
}

h1,
h2,
p {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-weight: 400;
}

.button {
  border: 1px solid white;
  color: white;
  background-color: transparent;
}

.button:hover {
  background-color: #4452FE;
  border-color: #4452FE;
}

.button--small {
  padding: 14px 46px;
}

.button--large {
  padding: 20px 40px;
}

.second-header {
  font-size: 52px;
  line-height: 62px;
  font-weight: 400;
}

.subheading {
  font-size: 20px;
  line-height: 30px;
}

/*--- */

/* header styles */
.header {
  padding-top: 34px;
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
}

.header__inner {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 136px;
}

.header__nav {
  margin-right: 174px;
}

.header__list {
  display: flex;
}

.header__item {
  margin-right: 30px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  padding: 10px;
}

/*---*/

/* welcome section styles */
.welcome-section {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}

.welcome-section__title {
  margin-bottom: 28px;
  font-size: 80px;
}

.welcome-section__subtitle {
  margin-bottom: 86px;
}

.welcome-section__links {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.welcome-section__link:first-child {
  margin-right: 36px;
}

.welcome-section__gradient {
  position: absolute;
  height: 550px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.15%);
}

/*---*/

/* partners section styles */
.partners-section {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 100px;
}

.partners-section__title {
  margin-bottom: 20px;
}

.partners-section__subtitle {
  margin-bottom: 60px;
}

.partners-section__logos {
  margin-bottom: 50px;
}

.partners-section__logo {
  height: 60px;
  margin-right: 74px;
}

.partners-section__logo:last-child {
  margin-right: 0;
}

.partners-section__button {
  margin-bottom: 50px;
  padding: 10px 40px;
}

/*---*/

/* testimonials section styles */
.testimonials-section {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 100px;
}

/*---*/
